a:				{ text-decoration: none; color: #93968E; font-weight: bold; }
a:link			{ text-decoration: none; color: #93968E; font-weight: bold; }
a:visited		{ text-decoration: none; color: #93968E; font-weight: bold; }
a:active		{ text-decoration: none; color: #93968E; font-weight: bold; }
a:hover			{ text-decoration: underline; color: #93968E; font-weight: bold; }

a:left			{ text-decoration: none; color: #ffffff; font-weight: bold; }
a:link.left		{ text-decoration: none; color: #ffffff; font-weight: bold; }
a:visited.left	{ text-decoration: none; color: #ffffff; font-weight: bold; }
a:active.left	{ text-decoration: none; color: #ffffff; font-weight: bold; }
a:hover.left	{ text-decoration: none; color: #ffffff; font-weight: bold; }

body
{
	scrollbar-base-color : #ffffff;
	scrollbar-arrow-color : #686A48;
	scrollbar-3dlight-color : #686A48;
	scrollbar-darkshadow-color : #686A48;
	scrollbar-face-color : #ffffff;
	scrollbar-highlight-color : #ffffff;
	scrollbar-shadow-color : #ffffff;
	font-family : 'Lato', sans-serif;
	font-size : 12px;
    background: #FFF; 
}

.content
{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.art
{
	margin: 1em auto;
	width: 25em;
}

.main-title
{
	font-weight: bold;
	width: 25em;
	margin: 1em auto;
}

.set
{
	display: table;
	width: 25em;
	margin: 1em auto;
}

.set-title
{
	font-weight: bold;
}

.set-title::before
{
	content: "◼";
	float: left;
	margin-left: -1.25em;
}

.work
{
	display: table-row-group;
}

.work-title
{
	display: table-cell;
	margin-right: 1em;
	width: 18em;
}

.work-length
{
	display: table-cell;
	font-size: 80%;
	width: 5em;
	margin-right: 1em;
	text-align: right;
}

.player
{
	display: table-cell;
	padding-left: 1em;
	width: 1em;
}