a:				{ text-decoration: none; color: #93968E; font-weight: bold; }
a:link			{ text-decoration: none; color: #93968E; font-weight: bold; }
a:visited		{ text-decoration: none; color: #93968E; font-weight: bold; }
a:active		{ text-decoration: none; color: #93968E; font-weight: bold; }
a:hover			{ text-decoration: underline; color: #93968E; font-weight: bold; }

a:left			{ text-decoration: none; color: #ffffff; font-weight: bold; }
a:link.left		{ text-decoration: none; color: #ffffff; font-weight: bold; }
a:visited.left	{ text-decoration: none; color: #ffffff; font-weight: bold; }
a:active.left	{ text-decoration: none; color: #ffffff; font-weight: bold; }
a:hover.left	{ text-decoration: none; color: #ffffff; font-weight: bold; }

body
{
	scrollbar-base-color : #ffffff;
	scrollbar-arrow-color : #686A48;
	scrollbar-3dlight-color : #686A48;
	scrollbar-darkshadow-color : #686A48;
	scrollbar-face-color : #ffffff;
	scrollbar-highlight-color : #ffffff;
	scrollbar-shadow-color : #ffffff;
	font-family : 'Lato', sans-serif;
	font-size : 12px;
    margin: 0px 0px 0px 0px;
    background: #FFF; 
    background-image: url(background.jpg);
    background-repeat: no-repeat;
}

td
{
	font-family : 'Lato, sans-serif;
	font-size : 12px;
}